<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FLO">

        <!-- intent-filter의 역할. 이 구성요소의 역할을 지정할 수 있음. 지금은 MainActivity가 시작과 동시에 맨 앞에 보이기때문에
    이 intent-filter로 화면이 시작하자마자 보여질화면이야 라고 지정해준거임.-->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme"> <!-- MainActivity에 Splash테마 적용시키기 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SongActivity"
            android:exported="true"/>
<!--        <activity android:name="com.example.flo.SongActivity"/>-->
        <activity android:name="com.example.flo.LoginActivity"/>
        <activity android:name="com.example.flo.SignUpActivity"/>
    </application>

</manifest>